@import "tailwindcss";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@theme {
  --color-primary-50: #eef4ff;
  --color-primary-100: #dae5ff;
  --color-primary-200: #bdd1ff;
  --color-primary-300: #90b5ff;
  --color-primary-400: #5b8cff;
  --color-primary-500: #2a5bfc;
  --color-primary-600: #1e42f2;
  --color-primary-700: #172ede;
  --color-primary-800: #1926b4;
  --color-primary-900: #1a278e;
  --color-primary-950: #151a56;
  --color-secondary-50: #fef7ee;
  --color-secondary-100: #fdecd7;
  --color-secondary-200: #fbd5ad;
  --color-secondary-300: #f8b779;
  --color-secondary-400: #f48f43;
  --color-secondary-500: #f17628;
  --color-secondary-600: #e25714;
  --color-secondary-700: #bb4013;
  --color-secondary-800: #953417;
  --color-secondary-900: #782d16;
  --color-secondary-950: #411409;
}
