/* 200 - ExtraLight */
@font-face {
  font-family: "PlusJakartaSans";
  src: url("./assets/fonts/PlusJakartaSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "PlusJakartaSans";
  src: url("./assets/fonts/PlusJakartaSans-ExtraLightItalic.ttf")
    format("truetype");
  font-weight: 200;
  font-style: italic;
}

/* 300 - Light */
@font-face {
  font-family: "PlusJakartaSans";
  src: url("./assets/fonts/PlusJakartaSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PlusJakartaSans";
  src: url("./assets/fonts/PlusJakartaSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* 400 - Regular */
@font-face {
  font-family: "PlusJakartaSans";
  src: url("./assets/fonts/PlusJakartaSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PlusJakartaSans";
  src: url("./assets/fonts/PlusJakartaSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* 500 - Medium */
@font-face {
  font-family: "PlusJakartaSans";
  src: url("./assets/fonts/PlusJakartaSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PlusJakartaSans";
  src: url("./assets/fonts/PlusJakartaSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* 600 - SemiBold */
@font-face {
  font-family: "PlusJakartaSans";
  src: url("./assets/fonts/PlusJakartaSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "PlusJakartaSans";
  src: url("./assets/fonts/PlusJakartaSans-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* 700 - Bold */
@font-face {
  font-family: "PlusJakartaSans";
  src: url("./assets/fonts/PlusJakartaSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PlusJakartaSans";
  src: url("./assets/fonts/PlusJakartaSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* 800 - ExtraBold */
@font-face {
  font-family: "PlusJakartaSans";
  src: url("./assets/fonts/PlusJakartaSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "PlusJakartaSans";
  src: url("./assets/fonts/PlusJakartaSans-ExtraBoldItalic.ttf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
}
