@import "tailwindcss";

* {
  scroll-behavior: smooth;
}
body {
  font-family: "PlusJakartaSans", sans-serif;
}
@theme {
  --font-sans: PlusJakartaSans, ui-sans-serif, system-ui, sans-serif;
}

/* Hero Section */
.bg-boxed-pattern {
  background-color: #fbf9ff;
  background-image: linear-gradient(#efefef 1px, transparent 1px),
    linear-gradient(90deg, #efefef 1px, transparent 1px);
  background-size: 40px 40px;
}

/* About Section */
.slash-line {
  background-image: linear-gradient(to right, #2249ca, #c15e20);
}
